body {
    background-color: rgb(236, 235, 235);
}

a:hover {
    text-decoration: none;
}


.main {
    margin-top: 70px;
}

.produces__header {
    vertical-align: middle;

    display         : flex;
    justify-content : space-between;
    background-color: rgb(205, 205, 206);
    margin-bottom   : 30px;
}

.pagination {
    align-items    : center;
    display        : flex;
    justify-content: space-between;
    height         : 100%;
}

.pagination input {
    text-align      : center;
    background-color: aliceblue;
    border          : none;
    width           : 50px;
    height          : 37px;
}

.produces__produce {
    padding: 5px;

}

.produce__inner {
    height          : 300px;
    padding         : 1px;
    background-color: white;
    box-shadow      : 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
}

.produce__inner:hover {
    transform : translateY(-3px);
    transition: transform 100ms;
}



.produce__image {
    width : 100%;
    height: 218px;

}

.produce__image img {
    height : 100%;
    padding: 0px;
    width  : 100%;
}

.produce__name {
    text-shadow: 1px 1px 1px #d4d3d3;
    color      : rgb(46, 46, 46);
    white-space: nowrap;
    width      : 100%;
    overflow   : hidden;


    text-overflow: ellipsis;
}

.produce__detail {
    text-shadow: 1px 1px 1px #d4d3d3;
    color      : rgb(46, 46, 46);
    white-space: nowrap;
    max-lines  : 2;
    width      : 100%;

    overflow     : hidden;
    text-overflow: ellipsis;

}

.produce__price {
    color        : orangered;
    white-space  : nowrap;
    width        : 100%;
    overflow     : hidden;
    text-overflow: ellipsis;

}

.produce-new {
    margin-top: 70px;
}

.produce-new__inner {
    height          : 400px;
    padding         : 1px;
    background-color: white;
    box-shadow      : 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, .1);
}

.produce-new__inner:hover {
    transform : translateY(-3px);
    transition: transform 100ms;
}

.produce-new__image {
    width : 100%;
    height: 255px;
}

.produce-new__image img {
    height : 100%;
    padding: 0px;
    width  : 100%;
}